.fab {
    
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}
.fab1 {
    
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}
.fab2 {
    
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.fab-position {
   width: 70px;
   height: flex;
   position: fixed;
    bottom: 20px;
    left: 5px;
}
.color_theme{
    background-color: #FDF4E5 !important
}
.image-container {
    width: 100%; /* Chiều rộng và chiều cao mong muốn cho ảnh vuông */
    height: 100%;
    overflow: hidden; /* Ẩn phần của ảnh vượt ra khỏi phần tử cha */
}

.square-image {
    width: 100%; /* Đảm bảo ảnh vượt ra khỏi phần tử cha */
    height: 100%;
    object-fit: cover; /* Cắt ảnh để vừa khớp với kích thước của phần tử cha mà không bị méo hình */
}
.square_list_image {
    width: 260px;
    height: 250px;
}
.big_square_list_image {
    width: 550px;
    height: 500px;
}
/* date picker button*/
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.elementhide {
    display: block; /* Hiển thị mặc định */
}

.btn-datphong:hover {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: rgba(229, 147, 33, 0.1); /* Đây là một ví dụ về cách sử dụng màu rgba để thêm một lớp opacity cho màu. */
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg:rgba(229, 147, 33, 0.1);
    --bs-btn-active-border-color: rgba(229, 147, 33, 0.1);
    opacity:0.5;
}
@media (max-width: 500px) {
    .hide-on-small-screen {
        display: none;
    }
}