{% extends "trangchu/base.html" %}
{% load static %}
{% block title %}
<title>Thông tin chi tiết phòng</title>
{% endblock title %}
{% block navbar%}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #ce3644; ">
  <div class="container px-4 px-lg-5">
   
  
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"  ><i class="bi bi-search" ></i></button>
    
      <a class="navbar-brand" href="/home">LALENDI STUDIO </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon " ></span></button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-row flex-wrap  bd-navbar-nav me-auto">
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  aria-current="page" href="/home">Trang chủ</a></li>
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/about">Chúng tôi</a></li>
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/blog" >Blog</a></li>
            
          </ul>
          <form class="d-flex"  >
              <a class="btn btn-outline-dark" style="color: white" type="submit" href="/cart">  
                  <i class="bi-cart-fill me-1" style=" color: white"></i>
                    Giỏ hàng
                  <span class="badge bg-dark text-white ms-1 rounded-pill"  id="cart_quantity">{{cart|length}}</span>
              </a>
          </form>
      </div>
  </div>
</nav> 
{% endblock navbar %}
{% block logo%}
<div style=" z-index: 1;"> 
  <a href="/home" style="padding:10px">
  <img src="{% static "/images/logo.jpeg" %} " style=" width:50px; height:50px"/>
  </a>
<div>
{% endblock logo %}
{% block maincontent %}
<main class="container">
  <div class="p-4 p-md-5 mb-4 ">
    <div>
      <img style="width:100%; height:100%" class="" src="{% static "images/posttilte.jpg" %} "/>
    </div>
    <div class="col-lg-6 px-0" style="padding-top:10px">

      <h3 class="display-6 fst-italic">HƯỚNG DẪN ĐẶT PHÒNG</h3>
      <p class="lead my-3">𝐇𝐮̛𝐨̛́𝐧𝐠 𝐝𝐚̂̃𝐧 đ𝐚̣̆𝐭 𝐩𝐡𝐨̀𝐧𝐠 𝐯𝐚̀ 𝐍𝐨̣̂𝐢 𝐐𝐮𝐲
        cùng những thông tin cần thiết cho bạn trải nghiệm homestay tuyệt vời nhất.
        
        Bạn đừng ngại nhắn tin để nhận tư vấn, hỗ trợ thêm nhé!</p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">ĐỌC TIẾP...</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Mẫu & Bảng giá decor phòng</h3>
                  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                  <img class="" width="180" height="220" src="{% static "images/thumb1.jpg" %}" />
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Ưu đãi & Quà tặng</h3>
                  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                  <img class="" width="180" height="220" src="{% static "images/thumb2.jpg" %}" />
              </div>
          </div>
      </div>
  </div>
  </div>
  
</div>
  

</main>

{% endblock maincontent %}