{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>LalLALENDI - Giỏ Hàng </title>
{%endblock title%}
{% block navbar%}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #ce3644; ">
  <div class="container px-4 px-lg-5">
   
  
	  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"  ><i class="bi bi-search" ></i></button>
	
	  <a class="navbar-brand" href="/home">LALENDI STUDIO </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon " ></span></button>
	 
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav flex-row flex-wrap  bd-navbar-nav me-auto">
			<li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  aria-current="page" href="/home">Trang chủ</a></li>
			<li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/about">Chúng tôi</a></li>
			<li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/blog" >Blog</a></li>
			<li class="nav-item col-6 col-lg-auto">
				<a class="nav-link dropdown-toggle active" id="navbarDropdown"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <li><a class="dropdown-item" href="#!">Tất cả sản phẩm</a></li>
				  <li><hr class="dropdown-divider" /></li>
				  <li><a class="dropdown-item" href="#!">Toydi</a></li>
				  <li><a class="dropdown-item" href="#!">Rendi</a></li>
			  </ul>
			</li>
		  </ul>
		  <form class="d-flex"  >
			  <a class="btn btn-outline-dark" style="color: white" type="submit" href="/cart">  
				  <i class="bi-cart-fill me-1" style=" color: white"></i>
					Giỏ hàng
				  <span class="badge bg-dark text-white ms-1 rounded-pill"  id="cart_quantity">{{cart|length}}</span>
			  </a>
		  </form>
	  </div>
  </div>
</nav> 
{% endblock navbar %}
{% block logo%}
<div style=" z-index: 1;"> 
  <a href="/home" style="padding:10px">
  <img src="{% static "/images/logo.jpeg" %} " style=" width:50px; height:50px"/>
  </a>
<div>
{% endblock logo %}
{% block maincontent %}
{% if messages %}
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div class="message">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} p-0"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
  </div>
    </div>
{% endif %}
<!--- Include the above in your HEAD tag -->
	
		<div class="container " style="font-family: Mulish, sans-serif; min-height:730px" >
			{% if sum != 0 %}
			<div class="table-responsive shopping-cart p-0" >
				
				<div class="row align-items-center" style="border-bottom: 1px solid black;">
					<div class="col-3  " style="">
						<h5 class=" p-0"style="font-weight: 500">Phòng</h5>
					</div>
					<div class="col-2 p-0 px-1 text-center" style="">
						<h5 style="font-weight: 500">Thời gian đặt</h5>
					</div>
					<div class="col-2 p-0 px-1 text-center" style="">
						<h5 style="font-weight: 500">Tổng ngày</h5>
					</div>
					<div class="col-1 p-0 px-1 text-center" style="">
						<h5 style="font-weight: 500">Tổng tiền</h5>
					</div>
					<div class="col-4 p-0 px-1 text-center" style="">

					</div>

				</div>
				{% for items in cart_items %}
				<div class="row align-items-center py-2" style="border-bottom: 1px solid black;">
					<div class="col-3 ">
						<div class="product-item">
							<a class="product-thumb" href="{% url "xemphong" items.phong.id %}"><img src=" {{items.phong.HinhanhURL}} " alt="room"></a>
							<div class="product-info">
								<h4 class="product-title">
									<a href="{% url "xemphong" items.phong.id %}">{{items.phong.Ten}}</a>
								</h4>
								<span>
									{% if items.phong.Netflix  %}
									<em>Netflix:</em> có
									{% else %}
									<em>Netflix:</em> không
									{% endif %}
								</span>
								<span>
									{% if items.phong.Bontam  %}
									<em>Bồn tắm:</em> có
									{% else %}
									<em>Bồn tắm:</em> không
									{% endif %}
								</span>
								<span>
									{% if items.phong.Beprieng  %}
									<em>Bếp riêng:</em> có
									{% else %}
									<em>Bếp riêng:</em> không
									{% endif %}
								</span>
							</div>
						</div>
					</div>
					<div class="col-2 p-0 px-1">
						<div class="text-center">
							<span>{{items.checkindisplay}} - {{items.checkoutdisplay}}</span>
						</div>
					</div>
					<div class="col-2 p-0 px-1">
						<div class="text-center">
							<span>{{items.lenday}} ngày </span>
						</div>
					</div>
					<div class="col-1 p-0 px-1">
						{{items.sumprice}}đ
					</div>
					<div class="col-4 p-0 px-5">
						<div class="row p-0">
							<div class="col-5 p-0">
								<a class="btn btn-success"  href="{% url "xemphong" items.phong.id %}">Cập nhật</a>
							</div>
							<div class="col-5 p-0">
								<a class="btn btn-success"  data-index=" {{items.phong.id}}" target="_blank " value="{{items.phong.id}}" href="{% url "checkout" items.phong.id %}">Đặt phòng</a>
							</div>
							<div class="col-2 p-0 text-align-center">
								<a id="deletebtn" data-index=" {{items.phong.id}} " class="p-0"><i class="bi bi-x" style="font-size: 28px; color: gray"></i></a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				
				<div class="shopping-cart-footer">
					<div class="column">
							
						</div>
							
						
					
							</div>
							<div class="shopping-cart-footer">
							<div class="column"><a class="btn btn-outline-secondary" href="/home"><i class="icon-arrow-left"></i>&nbsp;Quay lại chọn phòng </a></div>
							<div class="column">
						</div>
				</div>
			
			</div>
			{% else  %}
			<div style="display:flex; justify-content: center;">
				<div style="background-color: #EEDDB4; height:50px ; width:400px" class="rounded-pill ">
					<div style="text-align: center; padding:15px "><i class="bi bi-bag ">  Chưa có phòng nào trong giỏ hàng</i> </div>
				
				</div>
			</div>
			<div class="column"><a class="btn btn-outline-secondary" href="/home"><i class="icon-arrow-left"></i>&nbsp;Quay lại chọn phòng </a></div>
			{% endif %}
			
		</div>
	
	<script>
		$(document).on('change', '[id^="select"]', function(e){
			e.preventDefault();
			// lấy từ data-index trong  html ,kiểm tra ở trên đi
			phongid = $(this).data('index');
			selectedOption = $(this).val();
			selectedtext = $(this).find('option:selected').text();
			$.ajax({
				type:'POST',
				url: '{% url "cart_select_update" %}',
				data: {
					phong_id: phongid,
					selected_option: selectedOption,
					selected_text: selectedtext,
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',

					
				},
				
				success: function(json){
					console.log(json)
					//document.getElementById("cart_quantity").textContent=json.qty
					location.reload();

				},
				error: function(xhr, errmsg, err){

				}

			});

		})
		
		
		$(document).on('click', '#deletebtn', function(e){
			e.preventDefault();
			// lấy từ data-index trong  html ,kiểm tra ở trên đi
			$.ajax({
				type:'POST',
				url: '{% url 'cart_delete' %}',
				data: {
					phong_id: $(this).data('index'),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',			
				},
				
				success: function(json){
					console.log(json)
					//document.getElementById("cart_quantity").textContent=json.qty
					location.reload();

				},
				error: function(xhr, errmsg, err){

				}

			});

		})
	
	</script>
 {%endblock maincontent%}
