{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>LalLALENDI - Giỏ Hàng </title>
{%endblock title%}
{% block activenavbar%}
<li class="nav-item col-6 col-lg-auto"><a class="nav-link " aria-current="page" href="#">Trang chủ</a></li>
                  <li class="nav-item col-6 col-lg-auto"><a class="nav-link" href="#!">About</a></li>
                  <li class="nav-item col-6 col-lg-auto"><a class="nav-link " href="/blog" >Blog</a></li>
                  <li class="nav-item col-6 col-lg-auto">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#!">Tất cả sản phẩm</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item" href="#!">Toydi</a></li>
						<li><a class="dropdown-item" href="#!">Rendi</a></li>
					</ul>
                  </li>
{% endblock activenavbar%}
{% block maincontent %}
<!--- Include the above in your HEAD tag -->
	
		<div class="container padding-bottom-3x mb-1" style="font-family: Mulish, sans-serif" >
			{% if sum != 0 %}
			<div class="table-responsive shopping-cart" >
					<table class="table table-striped table-sm" >
						<thead >
							<tr>
								<th style="width:40%;"> Phòng </th>
								<th class="text-center" style="width:20%;">Ca</th>
								<th class="text-center" style="width:20%;"> Giá tiền</th>
								<th class="text-center" style="width:10%;">Discount</th>
								<th class="text-center"	style="width:10%;">
									
								</th>
							</tr>
						</thead>
					
						<tbody>
							{% for phong in cart_items %}
							
								<tr style="border-bottom:1px solid #96823D">
										<td>
											<div class="product-item">
												<a class="product-thumb" href="#"><img src=" {{phong.HinhanhURL}} " alt="room"></a>
												<div class="product-info">
													<h4 class="product-title">
														<a href="#">{{phong.Ten}}</a>
													</h4>
													<span>
														{% if phong.Netflix  %}
														<em>Netflix:</em> có
														{% else %}
														<em>Netflix:</em> không
														{% endif %}
													</span>
													<span>
														{% if phong.Bontam  %}
														<em>Bồn tắm:</em> có
														{% else %}
														<em>Bồn tắm:</em> không
														{% endif %}
													</span>
													<span>
														{% if phong.Beprieng  %}
														<em>Bếp riêng:</em> có
														{% else %}
														<em>Bếp riêng:</em> không
														{% endif %}
													</span>
												</div>
											</div>
										</td>
										
										<td  >
											<div class="count-input" style="width:200px;">
												<select id="select{{phong.id}}" data-index="{{phong.id}}"  class="form-control text-center" style="width: 100%;">
													{% for key, value in selected_option.items %}
													{% if key == phong.id|slugify%}
												<option selected value="{{value.Gia}}"> {{value.Ca}} </option>
													{% endif %}
													{% endfor %}
												
												<option value="{{phong.Gia4tieng}}">10h-14h cùng ngày</option>
												<option value="{{phong.Gia4tieng}}">15h-19h cùng ngày</option>
												<option value="{{phong.Gia20h_9h}}">20h-9h hôm sau</option>
												<option value="{{phong.Gia10h_19h}}">10h-19h cùng ngày</option>
												<option value="{{phong.Gia14h_12h}}">14h-12h hôm sau</option>
												
												</select>
											</div>
										</td>
										{% for key, value in selected_option.items %}
										{% if key == phong.id|slugify%}
										<td class="text-center text-lg text-medium"> {{value.Gia}} </td>
										{% endif %}
										{% endfor %}	
										
										<td class="text-center text-lg text-medium">$18.00

										</td>
										<td class="text-center">
											<button id="deletebtn" data-index=" {{phong.id}} " class="btn btn-sm btn-outline-danger">Xoá phòng</button>
										</td>
										
										{% endfor %}
								</tr>
								
							
						</tbody>
						
				</table>
				<div class="shopping-cart-footer">
					<div class="column">
							<form class="coupon-form" method="post">
								<input class="form-control form-control-sm" type="text" placeholder="Coupon code" required>
								<button class="btn btn-outline-primary btn-sm" type="submit">Apply Coupon</button>
							</form>
						</div>
							
							<div class="column text-lg">Tổng tiền: 
									<span class="text-medium"> {{sum}}đ </span>
							
							</div>
					
							</div>
							<div class="shopping-cart-footer">
							<div class="column"><a class="btn btn-outline-secondary" href="/home"><i class="icon-arrow-left"></i>&nbsp;Quay lại chọn phòng </a></div>
							<div class="column">
								<a id="cart_update" class="btn btn-primary" href="#"  data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Your cart" >Update Cart</a>
								<a class="btn btn-success" target="_blank " href="/checkout">Checkout</a></div>
				</div>
			
			</div>
			{% else  %}
			<div style="display:flex; justify-content: center;">
				<div style="background-color: #EEDDB4; height:50px ; width:400px" class="rounded-pill ">
					<div style="text-align: center; padding:15px "><i class="bi bi-bag ">  Chưa có phòng nào trong giỏ hàng</i> </div>
				
				</div>
			</div>
			<div class="column"><a class="btn btn-outline-secondary" href="/home"><i class="icon-arrow-left"></i>&nbsp;Quay lại chọn phòng </a></div>
			{% endif %}
			
		</div>
	
	<script>
		$(document).on('change', '[id^="select"]', function(e){
			e.preventDefault();
			// lấy từ data-index trong  html ,kiểm tra ở trên đi
			phongid = $(this).data('index');
			selectedOption = $(this).val();
			selectedtext = $(this).find('option:selected').text();
			$.ajax({
				type:'POST',
				url: '{% url "cart_select_update" %}',
				data: {
					phong_id: phongid,
					selected_option: selectedOption,
					selected_text: selectedtext,
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',

					
				},
				
				success: function(json){
					console.log(json)
					//document.getElementById("cart_quantity").textContent=json.qty
					location.reload();

				},
				error: function(xhr, errmsg, err){

				}

			});

		})
	
		$(document).on('click', '#deletebtn', function(e){
			e.preventDefault();
			// lấy từ data-index trong  html ,kiểm tra ở trên đi
			$.ajax({
				type:'POST',
				url: '{% url 'cart_delete' %}',
				data: {
					phong_id: $(this).data('index'),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',			
				},
				
				success: function(json){
					console.log(json)
					//document.getElementById("cart_quantity").textContent=json.qty
					location.reload();

				},
				error: function(xhr, errmsg, err){

				}

			});

		})

	</script>
 {%endblock maincontent%}
