{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>LalLALENDI - Giỏ Hàng </title>
{%endblock title%}
{% block activenavbar%}
<li class="nav-item col-6 col-lg-auto"><a class="nav-link " aria-current="page" href="#">Trang chủ</a></li>
                  <li class="nav-item col-6 col-lg-auto"><a class="nav-link" href="#!">About</a></li>
                  <li class="nav-item col-6 col-lg-auto"><a class="nav-link " href="/blog" >Blog</a></li>
                  <li class="nav-item col-6 col-lg-auto">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#!">Tất cả sản phẩm</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item" href="#!">Toydi</a></li>
						<li><a class="dropdown-item" href="#!">Rendi</a></li>
					</ul>
                  </li>
{% endblock activenavbar%}
{% block maincontent %}
<!--- Include the above in your HEAD tag -->
	
		<div class="container padding-bottom-3x mb-1" style="font-family: Mulish, sans-serif" >
			{% if sum != 0 %}
			<div class="table-responsive shopping-cart" >
					<table class="table table-striped table-sm" >
						<thead >
							<tr>
								<th style="width:40%;"> Phòng </th>
								<th class="text-center" style="width:30%;">Thời gian đặt</th>
								<th class="text-center" style="width:10%;">Tổng ngày</th>
								<th class="text-center" style="width:20%;"> Giá tiền</th>
								<th class="text-center" style="width:10%;">Discount</th>
								<th class="text-center"	style="width:10%;">
								<th class="text-center"	style="width:10%;">
								</th>
							</tr>
						</thead>
					
						<tbody>
							
							{% for items in cart_items %}
							
								<tr style="border-bottom:1px solid #96823D">
										<td>
											<div class="product-item">
												<a class="product-thumb" href="{% url "xemphong" items.phong.id %}"><img src=" {{items.phong.HinhanhURL}} " alt="room"></a>
												<div class="product-info">
													<h4 class="product-title">
														<a href="{% url "xemphong" items.phong.id %}">{{items.phong.Ten}}</a>
													</h4>
													<span>
														{% if items.phong.Netflix  %}
														<em>Netflix:</em> có
														{% else %}
														<em>Netflix:</em> không
														{% endif %}
													</span>
													<span>
														{% if items.phong.Bontam  %}
														<em>Bồn tắm:</em> có
														{% else %}
														<em>Bồn tắm:</em> không
														{% endif %}
													</span>
													<span>
														{% if items.phong.Beprieng  %}
														<em>Bếp riêng:</em> có
														{% else %}
														<em>Bếp riêng:</em> không
														{% endif %}
													</span>
												</div>
											</div>
										</td>
										
										<td  >
											<div class="text-center">
												<span>{{items.checkindisplay}} - {{items.checkoutdisplay}}</span>
											</div>
										</td>
										<td  >
											<div class="text-center">
												<span>{{items.lenday}} ngày </span>
											</div>
										</td>
										<td class="text-center text-lg text-medium"> {{items.sumprice}}đ </td>
								
										
										<td class="text-center text-lg text-medium">$18.00

										</td>
										<td class="text-center">
											<button id="deletebtn" data-index=" {{items.phong.id}} " class="btn btn-sm btn-outline-danger">Xoá phòng</button>
										</td>
										<td>
											<a class="btn btn-success"  data-index=" {{items.phong.id}}" target="_blank " value="{{items.phong.id}}" href="{% url "checkout" items.phong.id %}">Checkout</a>
										</td>
										
								</tr>
								
								{% endfor %}
						</tbody>
						
				</table>
				<div class="shopping-cart-footer">
					<div class="column">
							
						</div>
							
						
					
							</div>
							<div class="shopping-cart-footer">
							<div class="column"><a class="btn btn-outline-secondary" href="/home"><i class="icon-arrow-left"></i>&nbsp;Quay lại chọn phòng </a></div>
							<div class="column">
								<a id="cart_update" class="btn btn-primary" href="#"  data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Your cart" >Update Cart</a>
								
							</div>
				</div>
			
			</div>
			{% else  %}
			<div style="display:flex; justify-content: center;">
				<div style="background-color: #EEDDB4; height:50px ; width:400px" class="rounded-pill ">
					<div style="text-align: center; padding:15px "><i class="bi bi-bag ">  Chưa có phòng nào trong giỏ hàng</i> </div>
				
				</div>
			</div>
			<div class="column"><a class="btn btn-outline-secondary" href="/home"><i class="icon-arrow-left"></i>&nbsp;Quay lại chọn phòng </a></div>
			{% endif %}
			
		</div>
	
	<script>
		$(document).on('change', '[id^="select"]', function(e){
			e.preventDefault();
			// lấy từ data-index trong  html ,kiểm tra ở trên đi
			phongid = $(this).data('index');
			selectedOption = $(this).val();
			selectedtext = $(this).find('option:selected').text();
			$.ajax({
				type:'POST',
				url: '{% url "cart_select_update" %}',
				data: {
					phong_id: phongid,
					selected_option: selectedOption,
					selected_text: selectedtext,
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',

					
				},
				
				success: function(json){
					console.log(json)
					//document.getElementById("cart_quantity").textContent=json.qty
					location.reload();

				},
				error: function(xhr, errmsg, err){

				}

			});

		})
		
		
		$(document).on('click', '#deletebtn', function(e){
			e.preventDefault();
			// lấy từ data-index trong  html ,kiểm tra ở trên đi
			$.ajax({
				type:'POST',
				url: '{% url 'cart_delete' %}',
				data: {
					phong_id: $(this).data('index'),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',			
				},
				
				success: function(json){
					console.log(json)
					//document.getElementById("cart_quantity").textContent=json.qty
					location.reload();

				},
				error: function(xhr, errmsg, err){

				}

			});

		})
	
	</script>
 {%endblock maincontent%}
