{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>Xác nhận và thanh toán </title>
{%endblock title%}
{% block maincontent %}
    
        <div class="row" style="margin-left: 80px; margin-right: 80px;">  
            <div class="col-md-6"> 
                <div class="row">
                    <h3>Xác nhận và thanh toán </h3>
                </div>
                <div class="row">
                    <div class="row"> 
                        <h5>Chuyến đi của bạn </h5>
                    </div>
                    <div class="row container">
                        <div class="row">
                            <div class="col-md-8">                              
                                    <p>Ngày </p>
                                    <label> Ngày 13 - Ngày 18 tháng 5 </label>                               
                            </div> 
                            <div class="col-md-4"> 
                                <div class="bold-underline"> Chỉnh sửa </div>                              
                            </div> 
                            
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-8"> 
                                <p>Khách </p>
                                <label>1 khách</label>
                            </div>   
                            <div class="col-md-4"> 
                                <p class="bold-underline"> Chỉnh sửa </p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="row">
                    <h3>Chuyến đi của bạn </h3>
                </div>
            </div>
        </div>
        
{% endblock maincontent%}


