{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>Xác nhận và thanh toán </title>
{%endblock title%}
{% block maincontent %}
{% if messages %}
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div class="message">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} p-0"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
  </div>
    </div>
{% endif %}
    {% for item in item_by_id %}
    <section class=" mx-xs-0 mx-md-3 mx-lg-5 color_theme" style=" border-top:2px solid #96823D; font-family: Mulish, sans-serif">
        <div class="row  my-5 mx-md-5 mx-4 px-xs-0 text-center" >  
            <div class="col-md-6 col-sm-12 text-left  mx-0 "> 
                <div class="row px-3">
                    <a href="javascript:history.back()" class="p-0 col-1" style="color:black"><h3 class="p-0"><i class="bi bi-arrow-counterclockwise"></i>  </h3> </a>
                    <h3 class="p-0 col text-left">Xác nhận và thanh toán</h3>
                </div>
                <div class="row " style=" width: 100%; min-height:100px; border:1px solid #96823D ;border-radius:12px;  ">
                    <div class="col-md-8" >
                        <div class="row bold-text" style="padding-top:15px; padding-left:20px" >
                            Giá tốt.
                        </div>
                        <div class="row responsive " style=" padding-left:20px" >
                            Những ngày bạn chọn có giá thấp hơn $8 so với mức giá trung bình theo đêm trong 3 tháng qua.
                        </div>
                    </div>
                    <div class="col-md-4 text-right p-3">
                        <i class="bi bi-tags-fill h1" style=" color:#ce3644"></i>
                    </div>
                </div>
                <div class="row " style="margin-top:30px; margin-bottom:30px; border-bottom:1px solid #96823D; ">
                    <div class="row " style="margin-bottom: 24px"> 
                        <h4  class="p-0">Chuyến đi của bạn </h4>
                    </div>
                   
                    <div class="row p-0">
                        <div class="row ">
                            
                            <div class="col-md-8" style="margin-bottom:24px">                              
                                    <div class=" mb-0 " style="font-weight: bold">Ngày </div>
                                    <div class="mb-0 "> {{item.checkindisplay}} - {{item.checkoutdisplay}} </div>                               
                            </div> 
                            
                            <div class="col-md-4 p-0"> 
                                <p class="bold-underline text-right p-0" style=""> Chỉnh sửa </p>                              
                            </div> 
                            
                        </div>
                        <div class="row" style="margin-bottom:30px;">
                            <div class="col-md-8"> 
                                <p class="mb-0" style="font-weight: bold">Khách </p>
                                <label class="mb-0">1 khách</label>
                            </div>   
                            <div class="col-md-4 p-0"> 
                                <p class="bold-underline text-right"> Chỉnh sửa </p>
                            </div>    
                        </div>
                    </div>
                    
                </div>
                <form method="POST" action="{% url 'verify' item.phong.id %}">
                    {% csrf_token%}
                    <div class="row" style=" margin-top: 30px">
                        <h4  class=" p-0">Thông tin liên hệ </h4>
                    </div>
                    <div class="row" style=" margin-top: 30px">
                        <label class="row"> Họ và tên </label>    
                        <input type="text" style="width:100%" name="customername" placeholder="Nguyễn Văn A"  aria-label="Sizing example input" required="" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="row"> 
                        <div class="col-md-6 p-1" style=" margin-top: 10px">
                            <div class="row p-0">
                                <label > E-mail </label>    
                            </div>
                            <input type="text" style="width:100%" name="customermail"  placeholder="abc@gmail.com" aria-label="Sizing example input" required="" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="col-md-6 p-1 text-right" style=" margin-top: 10px">
                            <div class="row p-0 text-left">
                                <label > Số điện thoại </label>    
                            </div>
                            <input ms-code-phone-number="ca,gb,us" name="customerphone" style="width:100%" maxlength="256" name="Phone" data-name="Phone" placeholder="091 234 56 78" type="text" id="Phone" required="" autocomplete="off" data-intl-tel-input-id="0">    
                        </div>
                    </div>
                    <div class="row p-0" style="margin-top:3px; margin-bottom:20px">
                        <small class="p-0"> Chúng tôi sẽ gọi điện hoặc nhắn tin cho bạn để xác nhận số điện thoại.</small>
                    </div>
                    <div class="row p-0">
                        <button type="submit" style=" width: 100%; height:50px; border:1px solid #FDF4E5 ;border-radius:12px; color:white; background-color: #ce3644"> Tiếp tục </button>
                    </div>
                </form>
            </div>
           
            <div class="col-md-6 col-sm-1 text-left mx-0 "> 
                <div class="row " style="margin-bottom: 24px"> 
                    <div class="container " style=" width: 80%; min-height:500px; border:1px solid #96823D ;border-radius:12px; margin-top:46.4px;   ">
                        <div class="row p-0 my-5 px-4" style="border-bottom:1px solid #96823D">
                            <div class="col-md-3  p-0" style="margin-bottom:20px">
                                <img src="{{item.phong.HinhanhURL}}"  style=" width: 100px; height:120px; border-radius:10px" />
                            </div>
                            <div class="col-md-9 p-0  px-md-5 px-lg-0" style="">
                                <div class="row bold-text  ">
                                    <h5>{{item.phong.Ten}}</h5>
                                </div>
                                <div class="row"> 
                                    <small> Toàn bộ căn phòng dịch vụ </small>
                                </div>
                            </div>
                        </div>
                        <div class="row  p-0" style=" margin-right:20px; margin-left:20px; margin-bottom:15px; margin-top:15px">
                            <h4 class="p-0">Chi tiết giá </h4>
                        </div>
                        
                        <div class="row  p-0 text-left" style=" margin-right:20px; margin-left:20px; margin-bottom:20px">
                            <div class="col p-0" style="text-decoration: underline; font-size:18px "> {{item.price}}đ x {{item.lenday}} đêm  </div>
                            <div class="col p-0 text-right" style=" font-size:18px "> {{item.sumprice}}đ  </div>
                        </div>
                        <div class="row  p-0 text-left" style=" margin-right:20px; margin-left:20px; margin-bottom:20px">
                            <div class="col p-0" style="text-decoration: underline; font-size:18px "> Ưu đãi đặc biệt  </div>
                            <div class="col p-0 text-right" style=" font-size:18px ;color: green; "> -0đ  </div>
                        </div>
                        <div class="row  p-0 text-left" style="border-top:1px solid #96823D; margin-right:20px; margin-left:20px; margin-bottom:20px">
                            <div class="col p-0" style="margin-top:15px" >
                                 <h5 class="p-0 bold-underline " style="font-size:20px ">Tổng </h5> 
                            </div>
                            <div class="col p-0 text-right" style="margin-top:15px">
                                <h5 class="p-0" style="font-size:20px ">{{item.sumprice}}đ </h5> 
                           </div>
                        </div>
                       
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    {% endfor %}
{% endblock maincontent%}


