{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title >LALENDI STUDIO</title>
{%endblock title%}
{% block navbar%}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #ce3644; ">
  <div class="container px-4 px-lg-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"  ><i class="bi bi-search" ></i></button>
      <a class="navbar-brand" href="/home">LALENDI STUDIO </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon " ></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-row flex-wrap  bd-navbar-nav me-auto">
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  aria-current="page" href="/home">Trang chủ</a></li>
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/about">Chúng tôi</a></li>
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/blog" >Blog</a></li>
            <!-- 
            <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#!">Tất cả sản phẩm</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#!">Toydi</a></li>
                  <li><a class="dropdown-item" href="#!">Rendi</a></li>
              </ul>
            </li>
            -->
          </ul>
          <form class="d-flex"  >
              <a class="btn btn-outline-dark" style="color: white" type="submit" href="/cart">  
                  <i class="bi-cart-fill me-1" style=" color: white"></i>
                    Giỏ hàng
                  <span class="badge bg-dark text-white ms-1 rounded-pill"  id="cart_quantity">{{cart|length}}</span>
              </a>
          </form>
      </div>
  </div>
</nav> 
{% endblock navbar %}
{% block logo%}
<div style=" z-index: 1;"> 
  <a href="/home" style="padding:10px">
  <img src="{% static "/images/logo.jpeg" %} " style=" width:50px; height:50px"/>
  </a>
<div>
{% endblock logo %}
{% block maincontent %}
<div class="offcanvas offcanvas-start " data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 300px; height: 600px; background-color:#FDF4E5;" >
    <div class="offcanvas-header ">
      <h5 class="offcanvas-title" style="opacity: 100%" id="offcanvasExampleLabel">Tìm phòng</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="container " style="padding:15px">
       
    </div>
  </div>
  <!-- 
<section class="py">
    <img src="{% static "images/banner.JPG" %} " style=" width:100%"/>
</section>
-->
<!--header-->

        
        <div class="d-flex justify-content-center sticky-top hide-on-small-screen py-5" style="top: 56px; ">
            <div class=" px-sm-4 px-lg-5  py-1  mx-md-0 " style="border:1px solid #F5F5F5; color-color_theme ;border-radius:25px; box-shadow:0px 0px 10px 0px ;width:900px; height:68px;background-color:#FDF4E5" >
                <form id="form_filter" class="text-center" method="POST" action="{% url 'home' %}"> 
                    {%csrf_token%} 
                    
                    <div class="row  " style="background-color:#FDF4E5;">
                        <div class="col col-md-3 col-sm-6 p-0 " style="border-right: 1px solid black">  
                            <div class="row p-0 text-center">
                                <small class="p-0">Khu vực</small> 
                            </div>                                                              
                            <select style="width:100%; height:100%; background-color:#FDF4E5; border:none; border-radius:25px" class=" row text-center p-0 "  name="addressfilter">
                                <option value="Tất cả khu vực"> Tất cả khu vực</option> 
                                <option value="Hoàn Kiếm"> Hoàn Kiếm</option>
                                <option value="Ba Đình"> Ba Đình</option>
                                <option value="Tây Hồ"> Tây Hồ</option>
                                <option value="Hai Bà Trưng"> Hai Bà Trưng</option>
                                <option value="Đống Đa"> Đống Đa</option>
                                <option value="Thanh Xuân Cầu Giấy"> T.Xuân- C.Giấy</option>                                    
                            </select>                                                      
                        </div>
                        <div class="col col-md-2 col-sm-6 p-0" style="border-right: 1px solid black">
                            <div class="row p-0 text-center">
                                <small class="p-0">Ngày nhận phòng</small> 
                            </div> 
                            <input type="hidden" name="check_in_iso" value="" required="">
                            <input type="date" class="text-center datepicker" style="width:100%; height:100%; background-color:#FDF4E5; border:none; border-radius:25px " id="check_in" name="check_in" required="">
                        </div>
                        <div class="col col-md-2 col-sm-6 p-0" style="border-right: 1px solid black"> 
                            <div class="row p-0 text-center">
                                <small class="p-0">Ngày trả phòng</small> 
                            </div>
                            <input type="hidden" name="check_out_iso" value="" required="">
                            <input type="date" class="text-center datepicker" style="width:100%; height:100%; background-color:#FDF4E5; border:none; border-radius:25px " id="check_out" name="check_out" required="">
                        </div>
                        <div class="col col-md-3 col-sm-6 p-0" > 

                                <select style="width:100%; height:100%; background-color:#FDF4E5; border:none; border-radius:25px" class="text-center p-0"  name="pricesort">
                                    <option style="" selected value="Gia4tieng">Giá thấp đến cao</option>
                                    <option style="" value="-Gia4tieng">Giá cao đến thấp</otion>
                                    
                                </select>
                        </div>
                        <div class="col col-md-2 col-sm-12 p-0 justify-content-center">
                            <button type="submit" class="btn btn-secondary " style="width: 100%; height:100%; border:none; border-radius:25px; color:white; background-color: #ce3644">
                                <i class="bi bi-search"></i> 
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    

<!--list-->

<section id="list_room"class="py-5 color_theme" style="  font-family: Mulish, sans-serif">
    {% if checkout %}
    <div class="container mt-5 px-lg-12" >
        <div class="row text-left">
            <div class="col-sm-2" style="width:10px"><i class="bi bi-geo-alt-fill"> {{filtervalue}}</i> </div>
            <div class="col-sm-4" style="width:50px"><i class="bi bi-calendar-check" id="bookinginfo">  </i>  </div>
           

        </div>
    </div>
    <div class="container mt-5 px-lg-12" >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 " style=" border-radius:24px">
            {% for roomfilter in roomfilter%}
            <div class="col mb-5" >
            <a href=" {% url "xemphong" roomfilter.id %} "  style="color: black;cursor: pointer;">
                <div class="">
                    <!-- Product image-->
                    <img class="card-img-top " src=" {{roomfilter.HinhanhURL}}"  style=" border-radius:14px"/>
                    <!-- Product details-->
                    <div class="card-body p-0 my-2 text-left">
                        <div class="text-left">
                            <!-- Product name-->
                            <h6 class="fw-bolder"> {{roomfilter.Ten}},{{roomfilter.Diachi}} </h6>
                            <span style="font-weight:bold"> {{roomfilter.Gia4tieng}}đ</span><span>/đêm </span> 
                        </div>
                    </div>
                </div>
            </a>
            </div> 
            {% endfor %}
        </div>     
    </div>  

    
     
   {% else %}
    <div class="container mt-5 px-lg-12" >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 " style=" border-radius:24px">
            {% for roomfilter in roomfilter%}
            <div class="col mb-5" >
            <a href=" {% url "xemphong" roomfilter.id %} "  style="color: black;cursor: pointer;">
                <div class="">
                    <!-- Product image-->
                    <img class="card-img-top " src=" {{roomfilter.HinhanhURL}}"  style=" border-radius:14px"/>
                    <!-- Product details-->
                    <div class="card-body p-0 my-2 text-left">
                        <div class="text-left">
                            <!-- Product name-->
                            <h6 class="fw-bolder"> {{roomfilter.Ten}},{{roomfilter.Diachi}} </h6>
                            <span style="font-weight:bold"> {{roomfilter.Gia4tieng}}đ</span><span>/đêm </span> 
                        </div>
                    </div>
                </div>
            </a>
            </div> 
            {% endfor %}
        </div>     
    </div>  
        
    {% endif %}
</section>





<script>
   
    document.getElementById("form_filter").addEventListener("submit", function(event) {
        // Kiểm tra giá trị của trường input check_in
        var checkInValue = document.getElementById("check_in").value;
        if (!checkInValue) {
            // Nếu giá trị trống, hiển thị cảnh báo và ngăn chặn việc gửi form
            alert("Vui lòng nhập giá trị cho trường Check in.");
            event.preventDefault();
            return false;
        }
    
        // Kiểm tra giá trị của trường input check_out
        var checkOutValue = document.getElementById("check_out").value;
        if (!checkOutValue) {
            // Nếu giá trị trống, hiển thị cảnh báo và ngăn chặn việc gửi form
            alert("Vui lòng nhập giá trị cho trường Check out.");
            event.preventDefault();
            return false;
        }
    
        // Nếu các trường đã được nhập đủ giá trị, cho phép form được gửi đi
        return true;
    });
    
    function convertUTCtoGMT7(utcString) {
        var utcDate = new Date(utcString);
        var gmt7Offset = 7 * 60 * 60 * 1000; // Độ chênh lệch giữa GMT+7 và UTC trong milliseconds
        var gmt7Date = new Date(utcDate.getTime() + gmt7Offset);
    
        // Định dạng ngày thành d-m-Y
        var day = gmt7Date.getDate().toString().padStart(2, '0');
        var month = (gmt7Date.getMonth() + 1).toString().padStart(2, '0'); // Lưu ý rằng tháng trong JavaScript là từ 0 đến 11
        var year = gmt7Date.getFullYear().toString();
        
        return day + '-' + month + '-' + year;
    }
    var Checkin_gmt7DateString=convertUTCtoGMT7("{{checkin}}")
    var Checkout_gmt7DateString=convertUTCtoGMT7("{{checkout}}")
    $('#bookinginfo').text(Checkin_gmt7DateString + ' - ' + Checkout_gmt7DateString);
   


    $(document).ready(function() {
        // Khởi tạo Flatpickr cho #check_in
        flatpickr("#check_in", {
            defaultDate: "today",
            dateFormat: "d-m-Y",
            minDate: "today",
            time_24hr: true, // Sử dụng định dạng thời gian 24 giờ
            locale: {
                timezone: "browser" // Sử dụng múi giờ địa phương
            },
            onChange: function(selectedDates, dateStr, instance) {
                
                var checkinDate = selectedDates[0]; // Lấy ngày nhập của #check_in
                var checkoutInput = document.getElementById("check_out");
                var checkoutDate = checkoutInput._flatpickr.selectedDates[0];  // Định dạng ngược lại để tạo đối tượng Date
                // Cập nhật minDate cho #check_out
                checkoutInput._flatpickr.set('minDate', dateStr);
                sendAjaxUpdate(checkinDate, checkoutDate);
            }
        });
    
        // Khởi tạo Flatpickr cho #check_out
        flatpickr("#check_out", {
            dateFormat: "d-m-Y",
            defaultDate: "",
            minDate: "today",
            time_24hr: true, // Sử dụng định dạng thời gian 24 giờ
            locale: {
                timezone: "browser" // Sử dụng múi giờ địa phương
            },
            onChange: function(selectedDates, dateStr, instance) {
                var checkoutDate = selectedDates[0];
                var checkinInput = document.getElementById("check_in");
                var checkinDate = checkinInput._flatpickr.selectedDates[0]; 
                
                // Nếu ngày checkout nhỏ hơn hoặc bằng ngày checkin
                
                // Thực hiện Ajax call để cập nhật giá trị
                sendAjaxUpdate(checkinDate, checkoutDate);
            }
        });
    
        // Hàm gửi Ajax để cập nhật giá trị
        function sendAjaxUpdate(checkin, checkout) {
           
            var formattedCheckin = checkin.toISOString();
            var formattedCheckout = checkout.toISOString();
            $.ajax({
                type: 'POST',
                url: '{% url "Home_Update_Search" %}',
                data: {
                    checkin: formattedCheckin,
                    checkout: formattedCheckout,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    // Hiển thị json trả về lên console
                    console.log(json);
                    var checkin = json.checkin;
                    
                    var checkout = json.checkout;
                     
                    console.log(checkin);             
                     // Cập nhật các giá trị ẩn trong form nếu cần thiết
                    document.querySelector("input[name='check_in_iso']").value = checkin;
                    document.querySelector("input[name='check_out_iso']").value = checkout;
                   
    
                },
                error: function(xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
        }
    
    });
   
    
</script>
{% endblock maincontent %}


