{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>LALENDI STUDIO</title>
{%endblock title%}
{% block maincontent %}
<!--header-->
<header style="font-family: Mulish, sans-serif;">
    
    <div class="py-5" >
        <div class="container px-4 px-lg-5 mt-5 "  >  
            <form id="form_filter">                      
             <div class="row" >
                <div class="col" style="width:30%">
                    <h5> Khu vực</h5>                                                                     
                     <select style="width:100%" class="form-control text-center  form-outline-dark">
                        <option option:selected > Tất cả khu vực</option> 
                        <option> Hoàn Kiếm</option>
                        <option> Ba Đình</option>
                        <option> Tây Hồ</option>
                        <option> Hai Bà Trưng</option>
                        <option> Đống Đa</option>
                        <option> T.Xuân- C.Giấy</option>                                    
                                                

                    </select>
                                                       
                </div>                                                  
                <div class="col" style="width:30%">  
                    <h5> Lọc theo giá</h5>    
                    <select style="width:100%" class="form-control text-center  form-outline-dark">
                            
                        <option>Giá thấp nhất trước</option>
                        <option>Giá cao nhất trước</option>
                        

                    </select>
                </div>                               
                <div class="col" style="width:30%">    
                    <select style="width:100%" class="form-control text-center  form-outline-dark">
                            
                        <option selected value="Gia4tieng">Giá thấp đến cao</option>
                        <option value="-Gia4tieng">Giá cao đến thấp</option>
                        

                    </select>
                </div>                                 
                <div class="col" style="width:30%">
                    <button style="width:100%" class="booking_button_hieu trans_200_hieu">Book Now</button></div>
                </div>                                                                       
             </div> 
            </form>
        </div>
    </div>
</header>
<!--list-->
<section class="py-5" style="background-color: #FDF4E5; border-top:2px solid #96823D; font-family: Mulish, sans-serif">
    
    <div class="container px-4 px-lg-5 mt-5">
        
        <div class="row row-cols-md-3 justify-content-center" >
            {% for phong in phongs %}
            <div class="col mb-5" >
                <div class="card h-110">
                    <!-- Product image-->
                    <img class="card-img-top" src=" {{phong.HinhanhURL}} " />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> {{phong.Ten}} </h5>
                            <h6 class="fw-bolder">Khu vực: {{phong.Diachi}} </h6>
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {% url "xemphong" phong.id %} ">View options</a></div>
                    </div>
                </div>
            </div>
                
            {% endfor %}
            
        </div>
        
    </div>
    
</section>
<script>
    $(document).on('change', '#form_filter', function(e){
        e.preventDefault();
        // lấy từ data-index trong  html ,kiểm tra ở trên đi
        phongid = $(this).data('index');
        selectedOption = $(this).val();
        selectedtext = $(this).find('option:selected').text();
        $.ajax({
            type:'POST',
            url: '{% url "cart_select_update" %}',
            data: {
                phong_id: phongid,
                selected_option: selectedOption,
                selected_text: selectedtext,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',

                
            },
            
            success: function(json){
                console.log(json)
                //document.getElementById("cart_quantity").textContent=json.qty
                location.reload();

            },
            error: function(xhr, errmsg, err){

            }

        });

    })
</script>
{% endblock maincontent %}


