{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>LALENDI STUDIO</title>
{%endblock title%}
{% block maincontent %}
<div class="offcanvas offcanvas-start " data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 300px; height: 600px; background-color:#FDF4E5;" >
    <div class="offcanvas-header ">
      <h5 class="offcanvas-title" style="opacity: 100%" id="offcanvasExampleLabel">Tìm phòng</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="container " style="padding:15px">
        <div class="form-check" style="border-top:1px solid black">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Hoàn Kiếm
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Ba Đình
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
             Hai Bà Trưng
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
            <label class="form-check-label" for="exampleRadios3">
             Tây Hồ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
            <label class="form-check-label" for="exampleRadios3">
             Đống Đa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6">
            <label class="form-check-label" for="exampleRadios3">
             Thanh Xuân Cầu Giấy
            </label>
          </div>
    </div>
  </div>
<section class="py">
    <img src="{% static "images/banner.JPG" %} " style=" width:100%"/>
</section>
<!--header-->
<header style="font-family: Mulish, sans-serif;">
    
    <div class="py-5 	d-none d-lg-block" >
        <div class="container px-4 px-lg-5 mt-5 "  > 
            <div class="row-md-12 text-center">
                <h1> LỌC PHÒNG </h1 >
            </div>
            <div class="row">
                <div class="col col-md-3"> Check in</div>
                <div class="col col-md-3"> Check out</div>
                <div class="col col-md-3"> Khu vực</div>
                <div class="col col-md-3"> Giá</div>

            </div>
            <form id="form_filter" method="POST" action="{% url 'home' %}"> 
                {%csrf_token%}                     
             <div class="row" >
                <div class="col col-md-3 ">
                    <input type="date" style="width:100%; height:100%" id="date">
                </div>
                <div class="col col-md-3"   >
                    <input type="date" style="width:100%; height:100%" id="date">
                </div>
                <div class="col col-md-3 " style="width:30%">
                                                                         
                     <select style="width:100%" class="row form-control text-center  form-outline-dark" id="filter1" name="addressfilter">
                        <option value=""> Tất cả khu vực</option> 
                        <option value="Hoàn Kiếm"> Hoàn Kiếm</option>
                        <option value="Ba Đình"> Ba Đình</option>
                        <option value="Tây Hồ"> Tây Hồ</option>
                        <option value="Hai Bà Trưng"> Hai Bà Trưng</option>
                        <option value="Đống Đa"> Đống Đa</option>
                        <option value="Thanh Xuân Cầu Giấy"> T.Xuân- C.Giấy</option>                                    
                                                

                    </select>
                                                       
                </div>                                                  
                                     
                <div class="col col-md-3" style="width:30%">
                    
                    <select style="width:100%" class="form-control text-center  form-outline-dark" name="pricesort">
                            
                        <option selected value="Gia4tieng">Giá thấp đến cao</option>
                        <option value="-Gia4tieng">Giá cao đến thấp</option>
                        

                    </select>
                </div>                                 
                <div class="col col-md-4" style="width:30%">
                   
                    
                </div>                                                                  
             </div> 
             <div class="row-md-12 text-center">
                <button type="submit" class="btn btn-secondary" class="width: 200px">Tìm phòng</button>
            </div>
            </form>

        </div>
    </div>
</header>
<!--list-->
<section id="list_room"class="py-5 color_theme" style=" border-top:2px solid #96823D; font-family: Mulish, sans-serif">
    
    {% if filtervalue %}
        
        <div class="container px-4 px-lg-12 mt-5">
            <div class=""> <h2>Khu vực:{{filtervalue}}</h2></div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center" >
                {% for roomfilter in roomfilter%}
                <div class="col mb-5" >
                    <div class="card h-110">
                        <!-- Product image-->
                        <img class="card-img-top" src=" {{roomfilter.HinhanhURL}} " />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"> {{roomfilter.Ten}} </h5>
                                <h6 class="fw-bolder">Khu vực: {{roomfilter.Diachi}} </h6>
                                
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {% url "xemphong" roomfilter.id %} ">Xem phòng</a></div>
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div>     
        </div>
     {% else %}
     
    {% endif%}
    <div class="container px-4 px-lg-12 mt-5">
       
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center" >
            {% for phong in phongs %}
            <div class="col mb-5" >
                <div class="card h-110">
                    <!-- Product image-->
                    <img class="card-img-top" src=" {{phong.HinhanhURL}} " />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> {{phong.Ten}} </h5>
                            <h6 class="fw-bolder">Khu vực: {{phong.Diachi}} </h6>
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {% url "xemphong" phong.id %} ">Xem phòng</a></div>
                    </div>
                </div>
            </div>
                
            
            {% endfor %}
        </div>
       
    </div>
    
</section>
<script>
    // kiểm tra xem nút add to cart có được click ko
    $(document).on('click', '#add_cart', function(e){
        e.preventDefault();
        //lấy dữ liệu từ select
         selectedOption = $('#select_id1').val();
         selectedtext = $('#select_id1 option:selected').text();
        // thêm gì đó vào back end mà ko cần load page
        $.ajax({ 
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                phong_id: $('#add_cart').val(),
                selected_option: selectedOption, //lấy giá trị select được chọn
                selectedtext: selectedtext,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                //Hiển thị json trả về lên console
                console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty;
                
                

            },
            error: function(xhr, errmsg, err){

            }


        });

    });
</script>
{% endblock maincontent %}


