{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
    <title>LALENDI STUDIO</title>
{%endblock title%}
{% block activenavbar%}
<li class="nav-item col-6 col-lg-auto"><a class="nav-link active" aria-current="page" href="#">Trang chủ</a></li>
                  <li class="nav-item col-6 col-lg-auto"><a class="nav-link" href="#!">About</a></li>
                  <li class="nav-item col-6 col-lg-auto"><a class="nav-link " href="/blog" >Blog</a></li>
                  <li class="nav-item  col-6 col-lg-auto">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">Tất cả sản phẩm</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="#!">Toydi</a></li>
                          <li><a class="dropdown-item" href="#!">Rendi</a></li>
                      </ul>
                  </li>
{% endblock activenavbar%}
{% block maincontent %}
<div class="offcanvas offcanvas-start " data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 300px; height: 600px; background-color:#FDF4E5;" >
    <div class="offcanvas-header ">
      <h5 class="offcanvas-title" style="opacity: 100%" id="offcanvasExampleLabel">Tìm phòng</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="container " style="padding:15px">
        <div class="form-check" style="border-top:1px solid black">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Hoàn Kiếm
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Ba Đình
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
             Hai Bà Trưng
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
            <label class="form-check-label" for="exampleRadios3">
             Tây Hồ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
            <label class="form-check-label" for="exampleRadios3">
             Đống Đa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6">
            <label class="form-check-label" for="exampleRadios3">
             Thanh Xuân Cầu Giấy
            </label>
          </div>
    </div>
  </div>
<section class="py">
    <img src="{% static "images/banner.JPG" %} " style=" width:100%"/>
</section>
<!--header-->
<header style="font-family: Mulish, sans-serif;">
    
    <div class="py-5 	d-none d-lg-block" >
        <div class="container px-4 px-lg-5 mt-5 "  >  
            <form id="form_filter" class="">                      
             <div class="row" >
                <div class="col " style="width:30%">
                    <h5> Khu vực</h5>                                                                     
                     <select style="width:100%" class="form-control text-center  form-outline-dark" id="filter1">
                        <option> Tất cả khu vực</option> 
                        <option value="Hoàn Kiếm"> Hoàn Kiếm</option>
                        <option value="Ba Đình"> Ba Đình</option>
                        <option value="Tây Hồ"> Tây Hồ</option>
                        <option value="Hai Bà Trưng"> Hai Bà Trưng</option>
                        <option value="Đống Đa"> Đống Đa</option>
                        <option value="Thanh Xuân Cầu Giấy"> T.Xuân- C.Giấy</option>                                    
                                                

                    </select>
                                                       
                </div>                                                  
                <div class="col" style="width:30%">  
                    <h5> Lọc theo giá</h5>    
                    <select style="width:100%" class="form-control text-center  form-outline-dark">
                            
                        <option>Giá thấp nhất trước</option>
                        <option>Giá cao nhất trước</option>
                        

                    </select>
                </div>                               
                <div class="col" style="width:30%">    
                    <select style="width:100%" class="form-control text-center  form-outline-dark">
                            
                        <option selected value="Gia4tieng">Giá thấp đến cao</option>
                        <option value="-Gia4tieng">Giá cao đến thấp</option>
                        

                    </select>
                </div>                                 
                <div class="col" style="width:30%">
                    <button style="width:100%" class="booking_button_hieu trans_200_hieu">Book Now</button></div>
                </div>                                                                       
             </div> 
            </form>
        </div>
    </div>
</header>
<!--list-->
<section id="list_room"class="py-5 color_theme" style=" border-top:2px solid #96823D; font-family: Mulish, sans-serif">
    
    <div class="container px-4 px-lg-5 mt-5">
        
        <div class="row row-cols-md-3 justify-content-center" >
            {% for phong in phongs %}
            <div class="col mb-5" >
                <div class="card h-110">
                    <!-- Product image-->
                    <img class="card-img-top" src=" {{phong.HinhanhURL}} " />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> {{phong.Ten}} </h5>
                            <h6 class="fw-bolder">Khu vực: {{phong.Diachi}} </h6>
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {% url "xemphong" phong.id %} ">View options</a></div>
                    </div>
                </div>
            </div>
                
            {% endfor %}
            
        </div>
        
    </div>
    
</section>

{% endblock maincontent %}


