{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
<title>LALENDI STUDIO - Thông tin chi tiết phòng</title>
{%endblock title%}
{% block logo%}
<div style=" z-index: 1;"> 
  <a href="/home" style="padding:10px">
  <img src="{% static "/images/logo.jpeg" %} " style=" width:50px; height:50px"/>
  </a>
<div>
{% endblock logo %}
{% block navbar%}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #ce3644; ">
  <div class="container px-4 px-lg-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"  ><i class="bi bi-search" ></i></button>
      <a class="navbar-brand" href="/home">LALENDI STUDIO </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon " ></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-row flex-wrap  bd-navbar-nav me-auto">
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  aria-current="page" href="/home">Trang chủ</a></li>
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/about">Chúng tôi</a></li>
            <li class="nav-item col-6 col-lg-auto"><a class="nav-link active"  href="/blog" >Blog</a></li>
            <!-- 
            <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#!">Tất cả sản phẩm</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#!">Toydi</a></li>
                  <li><a class="dropdown-item" href="#!">Rendi</a></li>
              </ul>
            </li>
            -->
          </ul>
          <form class="d-flex"  >
              <a class="btn btn-outline-dark" style="color: white" type="submit" href="/cart">  
                  <i class="bi-cart-fill me-1" style=" color: white"></i>
                    Giỏ hàng
                  <span class="badge bg-dark text-white ms-1 rounded-pill"  id="cart_quantity">{{cart|length}}</span>
              </a>
          </form>
      </div>
  </div>
</nav> 
{% endblock navbar %}
{% block maincontent %}
<!--xemchitiet phong-->
{% if messages %}
<div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div class="message">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} p-0"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
  </div>
    </div>
{% endif %}

{{checkin_gmt7}}
<section class="py-3" style="background-color: #FDF4E5; font-family: Mulish, sans-serif">
    <div class="container px-2 px-lg-2 my-1">
        <div class="row px-0"> 
            <h3 class=" fw-bolder"> {{phong.Ten}} </h3> 
        </div>
        {% if phong.image_room_set.all %}
            {% for image_room in phong.image_room_set.all%}
        <div class="row p-0" style=""> 
            <div class="col-sm-6 px-2" style="">
                <div class="row px-2 " >
                    <div class="col " style="height:249.5px">
                        <div class="image-container" >                      
                            <a href="{{image_room.image_1.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_1.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_2.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_2.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
                <div class="row p-2 " >
                    <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_3.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_3.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_4.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_5.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6 px-2">
                <div class="row px-2 px-0" >
                    <div class="col" style="height:249.5px">
                        <div class="image-container" >                      
                            <a href="{{image_room.image_5.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_5.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_6.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_6.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
                <div class="row p-2 px-0" >
                    <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_7.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_7.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_8.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_8.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
            </div>
            
        </div>
            {% endfor%}
        {% endif %} 
    </div>
    <div class="container px-2 px-lg-2 py-3">
        <div class="row ">
            <div class="col-md-8">
                <div class="row py-3" style="border-bottom: 1px solid #96823D;"> 
                    <p>{{phong.description}}</p>
                </div>
                <div class="row py-3" > 
                    <div class="col-md-1">
                        <i class="bi bi-door-open" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-0" style="text-decoration: none; font-size:14px; font-weight: bold "> Tự nhận phòng  </div>
                        <div class="row p-0 text-right" style=" font-size:12px "> Bạn có thể tự nhận phòng theo hướng dẫn   </div>
                    </div>
                </div>
                <div class="row py-4"> 
                    <div class="col-md-1">
                        <i class="bi bi-calendar2" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-0" style="text-decoration: none; font-size:14px; font-weight: bold "> Huỷ miễn phí trong 24h  </div>
                        <div class="row p-0 text-right" style=" font-size:12px "> Được hoàn tiền đầy đủ nếu bạn thay đổi kế hoạch.   </div>
                    </div>
                </div>
                <div class="row py-4" style="border-top: 1px solid #96823D;"> 
                    <h5>Nơi này có những gì cho bạn</h5>
                </div>
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-wifi" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none "> Wi-fi </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-tv" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none "> TV với truyền hình cáp tiêu chuẩn </div>
                    </div>
                </div>
                {% if phong.Netflix  %}
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-film" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none ">Netflix</div>
                    </div>
                </div>
				{% endif %}
                {% if phong.Bontam  %}
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-droplet" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none ">Bồn tắm</div>
                    </div>
                </div>
				{% endif %}
                {% if phong.Beprieng  %}
                <div class="row" style="padding-bottom:2rem"> 
                    <div class="col-md-1">
                        <i class="bi bi-egg-fried" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none ">Bếp riêng</div>
                    </div>
                </div>
				{% endif %}
                <div class="row py-4" style="border-top: 1px solid #96823D;">   
                        <h5>Nơi bạn sẽ đến:{{phong.Diachi}}</h5> 
                </div>
                <div class="row "> 
                    <a href="{phong.map}" target="_blank" style="color: black" class="p-0"><div class="row px-4 py-0" style="text-decoration: underline; font-size:18px; font-weight: none "> Bấm vào đây để xem địa chỉ</div></a>
                </div>
            </div>
            <div class="col-md-4" >
                <form>
                <div class="container" style="border: 1px solid #96823D; border-radius:20px;box-shadow:0px 0px 10px -2px ;">
                    <div class="row mt-4 px-4"> 
                        <h5 class="col px-0" id="price" value="{{phong.Gia4tieng}}"> {{phong.Gia4tieng}}đ /đêm</h5>   
                    </div>
                    <div class="px-4 container" > 
                      
                        <div class="row " style="border:1px solid #96823D;border-radius:8px;">
                            <div class="col-sm-6" style="border-right:1px solid #96823D" >
                                <div class="row px-2 py-1" style="font-size:12px">Ngày nhận phòng</div>
                                <div class="row ">
                                    <input type="date" id="check_in" class="text-left px-2 " style="width:100%; height:100%; background-color:#FDF4E5; border:none " >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row px-2 py-1" style="font-size:12px">Ngày trả phòng</div>
                                <div class="row ">
                                    <input type="date" id="check_out" class="text-left px-2 " style="width:100%; height:100%; background-color:#FDF4E5; border:none " >
                                </div>
                            </div>
                            <div class="col py-2" style="border-top:1px solid #96823D">
                                <div class="row px-2" style="font-size:14px">Chỗ ở này cho phép tối đa 2 khách, không tính em bé. Không được phép mang theo thú cưng.
                                </div>
                                <div class="row px-2" style="font-size:14px" id="checkin_format" ></div>
                                <div class="row px-2" style="font-size:14px" id="checkout_format"></div>
                                <div class="row px-2 " style="font-size:14px; display: none " id="checkin_element" name="checkin_element"> </div>
                                <div class="row px-2" style="font-size:14px; display: none" id="checkout_element" name="checkout_element"></div>
                            </div>
                            
                        </div> 
                        <div class="row mt-4 p-0">
                            <div class="col-sm-12 text-center p-0" >
                                <button type="button"  class="btn btn-success" value="{{phong.id}}" id="add_cart" style=" width: 100%; height:50px; border:1px solid #FDF4E5 ;border-radius:12px; color:white; background-color: #ce3644">
                                    <i class="bi bi-cart"></i>
                               
                                </button>
                            </div>
                            
                        </div>
                   
                        <div class="row mt-2 text-center" style="font-size:12px">
                            <p>Bạn vẫn chưa bị trừ tiền</p>
                        </div>
                        <div class="row  mt-1 text-left" >
                            <div class="col p-0" style="text-decoration: underline; font-size:16px" id="len_element"> {{phong.Gia4tieng}} x 3 đêm  </div>
                            <div class="col p-0 text-right" style=" font-size:16px" id="sum_element"> 0đ  </div>
                        </div>
                        <div class="row  mt-1 py-2 text-left" >
                            <div class="col p-0" style="text-decoration: underline; font-size:16px "> Ưu đãi  </div>
                            <div class="col p-0 text-right" style=" font-size:16px "> 0đ  </div>
                        </div>
                        <div class="row  mt-2 py-2 text-left" style="border-top:1px solid #96823D">
                            <div class="col p-0" style="text-decoration: none; font-size:16px; font-weight: bold "> Tổng tiền  </div>
                            <div class="col p-0 text-right" style=" font-size:16px " id="sum_element1"> 0đ  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
    document.getElementById("add_cart").addEventListener("click", function() {
        var divContent1 = document.getElementById("checkin_format").innerText;
    
        if (!divContent1.trim()) {
            alert("Vui lòng nhập giá trị cho trường Checkin-Check out.");
        } 
        var divContent2 = document.getElementById("checkout_format").innerText;
    
        
         
    });
    // kiểm tra xem nút add to cart có được click ko
    $(document).on('click', '#add_cart,#order_button', function(e){
        e.preventDefault();
        //lấy dữ liệu từ select
         //selectedOption = $('#add_cart').val();
        var checkingmt7 = $('#checkin_format').text();
        var checkoutgmt7 = $('#checkout_format').text();
        var checkin = new Date($('#checkin_element').text());
        var checkout = new Date($('#checkout_element').text());
        var formattedCheckin = checkin.toISOString();
        var formattedCheckout = checkout.toISOString();
        var lengthInDays = Math.round((checkout - checkin) / (1000 * 60 * 60 * 24));
        var price = {{phong.Gia4tieng}};
        var sumprice = price * lengthInDays;
        // thêm gì đó vào back end mà ko cần load page
        $.ajax({ 
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                phong_id: $('#add_cart').val(),
                checkin: formattedCheckin,
                checkout: formattedCheckout,
                checkindisplay: checkingmt7,
                checkoutdisplay: checkoutgmt7,
                price: price,
                lenday: lengthInDays,
                sumprice: sumprice,
                //selected_option: selectedOption, //lấy giá trị select được chọn
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                //Hiển thị json trả về lên console
                //console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
            error: function(xhr, errmsg, err){
                

            }
        });

    });

    
    $(document).ready(function() {
          $("[data+fancybox]").fancybox({
            // Các tùy chọn của Fancybox nếu cần
          });
    });
    
    $(document).ready(function() {
        var disabledDates = [
            {% for date in dates %}
                "{{ date }}",
            {% endfor %}
        ];
    
        var lastSelectedCheckout;
        // Khởi tạo Flatpickr cho #check_in
    flatpickr("#check_in", {
        defaultDate: "today",
        dateFormat: "d-m-Y",
        minDate: "today",
        time_24hr: true, // Sử dụng định dạng thời gian 24 giờ
        locale: {
            timezone: "browser" // Sử dụng múi giờ địa phương
        },
        disable: disabledDates,
        onChange: function(selectedDates, dateStr, instance) {
            
            var checkinDate = selectedDates[0]; // Lấy ngày nhập của #check_in
            var checkoutInput = document.getElementById("check_out");
            var checkoutDate = checkoutInput._flatpickr.selectedDates[0];  // Định dạng ngược lại để tạo đối tượng Date
            // Cập nhật minDate cho #check_out
            console.log(checkinDate)
            checkoutInput._flatpickr.set('minDate', dateStr);
            sendAjaxUpdate(checkinDate, checkoutDate);
        }
    });

    // Khởi tạo Flatpickr cho #check_out
    flatpickr("#check_out", {
        dateFormat: "d-m-Y",
        defaultDate: "",
        minDate: "today",
        time_24hr: true, // Sử dụng định dạng thời gian 24 giờ
        locale: {
            timezone: "browser" // Sử dụng múi giờ địa phương
        },
        disable: disabledDates,
        onChange: function(selectedDates, dateStr, instance) {
            var checkoutDate = selectedDates[0];
            var checkinInput = document.getElementById("check_in");
            var checkinDate = checkinInput._flatpickr.selectedDates[0]; 
            
            // Nếu ngày checkout nhỏ hơn hoặc bằng ngày check

            // Thực hiện Ajax call để cập nhật giá trị
            sendAjaxUpdate(checkinDate, checkoutDate);
        }
    });
    function convertUTCtoGMT7(utcString) {
        var utcDate = new Date(utcString);
        var gmt7Offset = 7 * 60 * 60 * 1000; // Độ chênh lệch giữa GMT+7 và UTC trong milliseconds
        var gmt7Date = new Date(utcDate.getTime() + gmt7Offset);
    
        // Định dạng ngày thành d-m-Y
        var day = gmt7Date.getDate().toString().padStart(2, '0');
        var month = (gmt7Date.getMonth() + 1).toString().padStart(2, '0'); // Lưu ý rằng tháng trong JavaScript là từ 0 đến 11
        var year = gmt7Date.getFullYear().toString();
        
        return day + '-' + month + '-' + year;
    }
    // Hàm gửi Ajax để cập nhật giá trị
    function sendAjaxUpdate(checkin, checkout) {
        var lengthInDays = Math.round((checkout - checkin) / (1000 * 60 * 60 * 24));
        var price = {{ phong.Gia4tieng }};
        var formattedCheckin = checkin.toISOString();
        var formattedCheckout = checkout.toISOString();
        $.ajax({
            type: 'POST',
            url: '{% url "PreviewUpdate" %}',
            data: {
                checkin: formattedCheckin,
                checkout: formattedCheckout,
                lengthInDays: lengthInDays,
                price: price,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                // Hiển thị json trả về lên console
                console.log(json);
                var sum = json.sum;
                var len = json.len;
                var checkin = json.checkin;
                var checkout = json.checkout;
                var Checkin_gmt7DateString=convertUTCtoGMT7(checkin)
                var Checkout_gmt7DateString=convertUTCtoGMT7(checkout)
                // Hiển thị dữ liệu trên template
                $('#sum_element').text(sum + 'đ');
                $('#sum_element1').text(sum + 'đ');
                $('#len_element').text('{{ phong.Gia4tieng }} / ' + len + ' đêm');
                $("#checkin_format").text(Checkin_gmt7DateString);
                $("#checkout_format").text(Checkout_gmt7DateString);
                document.querySelector("#checkin_element").innerText = checkin;
                document.querySelector("#checkout_element").innerText = checkout;

            },
            error: function(xhr, errmsg, err) {
                console.error(errmsg);
            }
        });
    }

    });
    
</script>

{% endblock maincontent %}