{%  extends 'trangchu/base.html' %}
{% load static  %}
{%block title %}
<title>LALENDI STUDIO - Thông tin chi tiết phòng</title>
{%endblock title%}

{% block maincontent %}
<!--xemchitiet phong-->
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<section class="py-3" style="background-color: #FDF4E5; font-family: Mulish, sans-serif">
    <div class="container px-2 px-lg-2 my-1">
        <div class="row px-0"> 
            <h3 class=" fw-bolder"> {{phong.Ten}} </h3> 
        </div>
        {% if phong.image_room_set.all %}
            {% for image_room in phong.image_room_set.all%}
        <div class="row p-0" style=""> 
            <div class="col-sm-6 px-2" style="">
                <div class="row px-2 " >
                    <div class="col " style="height:249.5px">
                        <div class="image-container" >                      
                            <a href="{{image_room.image_1.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_1.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_2.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_2.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
                <div class="row p-2 " >
                    <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_3.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_3.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_4.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_5.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6 px-2">
                <div class="row px-2 px-0" >
                    <div class="col" style="height:249.5px">
                        <div class="image-container" >                      
                            <a href="{{image_room.image_5.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_5.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_6.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_6.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
                <div class="row p-2 px-0" >
                    <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_7.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_7.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                     <div class="col" style="height:249.5px">
                        <div class="image-container ">                      
                            <a href="{{image_room.image_8.url}}" data-fancybox="gallery" data-width="550" data-height="850"><img style="border-radius:15px" class="square-image" src="{{image_room.image_8.url}}" alt="..." /></a>
                        </div>                       
                    </div>
                    
                </div>
            </div>
            
        </div>
            {% endfor%}
        {% endif %} 
    </div>
    <div class="container px-2 px-lg-2 py-3">
        <div class="row ">
            <div class="col-md-8">
                <div class="row py-3" style="border-bottom: 1px solid #96823D;"> 
                    <p>{{phong.description}}</p>
                </div>
                <div class="row py-3" > 
                    <div class="col-md-1">
                        <i class="bi bi-door-open" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-0" style="text-decoration: none; font-size:14px; font-weight: bold "> Tự nhận phòng  </div>
                        <div class="row p-0 text-right" style=" font-size:12px "> Bạn có thể tự nhận phòng theo hướng dẫn   </div>
                    </div>
                </div>
                <div class="row py-4"> 
                    <div class="col-md-1">
                        <i class="bi bi-calendar2" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-0" style="text-decoration: none; font-size:14px; font-weight: bold "> Huỷ miễn phí trong 24h  </div>
                        <div class="row p-0 text-right" style=" font-size:12px "> Được hoàn tiền đầy đủ nếu bạn thay đổi kế hoạch.   </div>
                    </div>
                </div>
                <div class="row py-4" style="border-top: 1px solid #96823D;"> 
                    <h5>Nơi này có những gì cho bạn</h5>
                </div>
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-wifi" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none "> Wi-fi </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-tv" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none "> TV với truyền hình cáp tiêu chuẩn </div>
                    </div>
                </div>
                {% if phong.Netflix  %}
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-film" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none ">Netflix</div>
                    </div>
                </div>
				{% endif %}
                {% if phong.Bontam  %}
                <div class="row"> 
                    <div class="col-md-1">
                        <i class="bi bi-droplet" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none ">Bồn tắm</div>
                    </div>
                </div>
				{% endif %}
                {% if phong.Beprieng  %}
                <div class="row" style="padding-bottom:2rem"> 
                    <div class="col-md-1">
                        <i class="bi bi-egg-fried" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-1" style="text-decoration: none; font-size:18px; font-weight: none ">Bếp riêng</div>
                    </div>
                </div>
				{% endif %}
                <div class="row py-4" style="border-top: 1px solid #96823D;">   
                        <h5>Nơi bạn sẽ đến:{{phong.Diachi}}</h5> 
                </div>
                <div class="row "> 
                    <a href="{phong.map}" target="_blank" style="color: black" class="p-0"><div class="row px-4 py-0" style="text-decoration: underline; font-size:18px; font-weight: none "> Bấm vào đây để xem địa chỉ</div></a>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="container" style="border: 1px solid #96823D; border-radius:20px;box-shadow:0px 0px 10px -2px ;">
                    <div class="row mt-4 px-4"> 
                        <h5 class="col px-0" id="price" value="{{phong.Gia4tieng}}"> {{phong.Gia4tieng}}đ /đêm</h5>   
                    </div>
                    <div class="px-4 container" > 
                        <div class="row " style="border:1px solid #96823D;border-radius:8px;">
                            <div class="col-sm-6" style="border-right:1px solid #96823D" >
                                <div class="row px-2 py-1" style="font-size:12px">Ngày nhận phòng</div>
                                <div class="row ">
                                    <input type="date" id="check_in" class="text-left px-2 " style="width:100%; height:100%; background-color:#FDF4E5; border:none " >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row px-2 py-1" style="font-size:12px">Ngày trả phòng</div>
                                <div class="row ">
                                    <input type="date" id="check_out" class="text-left px-2 " style="width:100%; height:100%; background-color:#FDF4E5; border:none " >
                                </div>
                            </div>
                            <div class="col py-2" style="border-top:1px solid #96823D">
                                <div class="row px-2" style="font-size:14px">Chỗ ở này cho phép tối đa 2 khách, không tính em bé. Không được phép mang theo thú cưng.
                                </div>
                                <div class="row px-2" style="font-size:14px" id="checkin_element">check_in </div>
                                <div class="row px-2" style="font-size:14px" id="checkout_element">check_out</div>
                            </div>
                            
                        </div> 
                        <div class="row mt-4 p-0">
                            <div class="col-sm-2 text-center p-0" >
                                <button type="button" class="btn btn-success" value="{{phong.id}}" id="add_cart" style=" width: 100%; height:50px;border-radius:12px;border:none; background-color: #96823D">
                                    <i class="bi bi-cart"></i>
                               
                                </button>
                            </div>
                            <div class="col-sm-10 p-0">
                                <button type="submit" class="btn btn-success" id="order_button" style=" width: 100%; height:50px; border:1px solid #FDF4E5 ;border-radius:12px; color:white; background-color: #ce3644"> Đặt phòng </button>
                            </div>
                        </div>
                        
                        <div class="row mt-2 text-center" style="font-size:12px">
                            <p>Bạn vẫn chưa bị trừ tiền</p>
                        </div>
                        <div class="row  mt-1 text-left" >
                            <div class="col p-0" style="text-decoration: underline; font-size:16px" id="len_element"> {{phong.Gia4tieng}} x 3 đêm  </div>
                            <div class="col p-0 text-right" style=" font-size:16px" id="sum_element"> 0đ  </div>
                        </div>
                        <div class="row  mt-1 py-2 text-left" >
                            <div class="col p-0" style="text-decoration: underline; font-size:16px "> Ưu đãi  </div>
                            <div class="col p-0 text-right" style=" font-size:16px "> 0đ  </div>
                        </div>
                        <div class="row  mt-2 py-2 text-left" style="border-top:1px solid #96823D">
                            <div class="col p-0" style="text-decoration: none; font-size:16px; font-weight: bold "> Tổng tiền  </div>
                            <div class="col p-0 text-right" style=" font-size:16px " id="sum_element1"> 0đ  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>

   

    // kiểm tra xem nút add to cart có được click ko
    $(document).on('click', '#add_cart,#order_button', function(e){
        e.preventDefault();
        //lấy dữ liệu từ select
         //selectedOption = $('#add_cart').val();
        var checkin = new Date($('#checkin_element').text());
        var checkout = new Date($('#checkout_element').text());
        var formattedCheckin = checkin.toISOString().split('T')[0];
        var formattedCheckout = checkout.toISOString().split('T')[0];
        var lengthInDays = Math.round((checkout - checkin) / (1000 * 60 * 60 * 24));
        var price = {{phong.Gia4tieng}};
        var sumprice = price * lengthInDays;
        // thêm gì đó vào back end mà ko cần load page
        $.ajax({ 
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                phong_id: $('#add_cart').val(),
                checkin: formattedCheckin,
                checkout: formattedCheckout,
                price: price,
                lenday: lengthInDays,
                sumprice: sumprice,
                //selected_option: selectedOption, //lấy giá trị select được chọn
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                //Hiển thị json trả về lên console
                //console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
            error: function(xhr, errmsg, err){

            }
        });

    });
    
    $(document).ready(function() {
          $("[data+fancybox]").fancybox({
            // Các tùy chọn của Fancybox nếu cần
          });
    });
    
    $(document).ready(function() {
        var disabledDates = [
            {% for date in dates %}
                "{{ date }}",
            {% endfor %}
        ];
    
        var lastSelectedCheckout = null;
        // Khởi tạo Flatpickr cho #check_in
    flatpickr("#check_in", {
        enableTime: true,
        utc: true,
        defaultDate: "today",
        dateFormat: "d-m-Y",
        minDate: "today",
        disable: disabledDates,
        onChange: function(selectedDates, dateStr, instance) {
            var checkinDate = selectedDates[0]; // Lấy ngày nhập của #check_in
            var checkoutInput = document.getElementById("check_out");
            var checkoutDate = new Date(checkoutInput.value.split('-').reverse().join('-')); // Định dạng ngược lại để tạo đối tượng Date

            // Cập nhật minDate cho #check_out
            checkoutInput._flatpickr.set('minDate', dateStr);

            // Nếu ngày checkout hiện tại nhỏ hơn hoặc bằng ngày checkin
            // Kiểm tra nếu ngày checkout hiện tại là ngày trước đó đã được chọn
            if (lastSelectedCheckout && lastSelectedCheckout <= checkinDate)
                // Giữ nguyên ngày checkout hiện tại
                instance.setDate(lastSelectedCheckout);
            

            // Thực hiện Ajax call để cập nhật giá trị
            sendAjaxUpdate(checkinDate, checkoutInput._flatpickr.selectedDates[0]);
        }
    });

    // Khởi tạo Flatpickr cho #check_out
    flatpickr("#check_out", {
        nableTime: true,
        utc: true,
        dateFormat: "d-m-Y",
        defaultDate: "tomorrow",
        minDate: "today",
        disable: disabledDates,
        onChange: function(selectedDates, dateStr, instance) {
            var checkoutDate = selectedDates[0];
            var checkinInput = document.getElementById("check_in");
            var checkinDate = new Date(checkinInput.value.split('-').reverse().join('-'));

            // Nếu ngày checkout nhỏ hơn hoặc bằng ngày checkin
           

            // Thực hiện Ajax call để cập nhật giá trị
            sendAjaxUpdate(checkinDate, checkoutDate);
        }
    });

    // Hàm gửi Ajax để cập nhật giá trị
    function sendAjaxUpdate(checkin, checkout) {
        var lengthInDays = Math.round((checkout - checkin) / (1000 * 60 * 60 * 24));
        var price = {{ phong.Gia4tieng }};
        var formattedCheckin = checkin.toISOString();
        var formattedCheckout = checkout.toISOString();
        $.ajax({
            type: 'POST',
            url: '{% url "PreviewUpdate" %}',
            data: {
                checkin: checkin.toISOString().split('T')[0],
                checkout: checkout.toISOString().split('T')[0],
                lengthInDays: lengthInDays,
                price: price,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                // Hiển thị json trả về lên console
                console.log(json);
                var sum = json.sum;
                var len = json.len;
                var formattedCheckin = new Date(json.checkin).toLocaleDateString();
                var formattedCheckout = new Date(json.checkout).toLocaleDateString();
                // Hiển thị dữ liệu trên template
                $('#sum_element').text(sum + 'đ');
                $('#sum_element1').text(sum + 'đ');
                $('#len_element').text('{{ phong.Gia4tieng }} / ' + len + ' đêm');
                $('#checkin_element').text(checkin);
                $('#checkout_element').text(checkout);

            },
            error: function(xhr, errmsg, err) {
                console.error(errmsg);
            }
        });
    }

    });
    
</script>

{% endblock maincontent %}